<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="signup-form">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group">
        	<input type="email" class="form-control" ngModel name="email" placeholder="Email" required email>
        </div>
		<div class="form-group">
            <input type="password" class="form-control" ngModel  name="password" placeholder="Password" required>
        </div>
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="!form.valid">Login</button>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-success btn-lg btn-block"routerLink="/signup">SignUp</button>
        </div>
    </form>
</div>
</body>
</html>                            